/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.description{
    color: #444343;
    margin: 25px 0 30px;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
}

/* header section styles */
header{
    background-image: url(../images/banners/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner{
    text-align: right;
    padding: 215px 0 165px;
}

.banner .banner-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

.banner-btn{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    background-color: #F15B22;
    padding: 20px 25px;
    border: 0;
    border-radius: 5px;
}

/* working-progress section styles */
.working-progress{
    display: flex;
    align-items: center;
    gap: 90px;
    margin: 130px 0;
}

.working-progress .font-image img{
    width: 100%;
}

.working-activity h3{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.work-list p{
    color: #444343;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 10px;
}

.work-list p .fa-check{
    color: #16D887;
    margin-right: 15px;
}